/* Globals */
body {
  font-family: Montserrat, sans-serif;
  color: #334a63;
}

i {
  color: black;
}
/* End of globals */

/* START OF COVER */

h5, a, a:hover {
  color: black;
  margin-bottom: 0;
  font-size: 0.85rem;
}

nav button:focus {
  outline: none;
}

.two-bars {
  padding: 0;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  width: 25px;
  height: 10px;
}

#bg_shape {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.1);
  height: 75vh;
  -webkit-clip-path: polygon(0% 0%, 0% 75%, 150% 0%);
  clip-path: polygon(0% 0%, 0% 75%, 150% 0%);
}

.text-block-title {
  font-weight: 500;
  font-size: 1.8rem;
  color: #334a63;
}

.text-block-p {
  line-height: 1.8;
  font-size: 1.15rem;
  color: #334a63;
}

#no-bg {
  background: transparent;
}

/* END OF COVER */


/* START OF ARTICLE */

.left-article {
  min-height: 350px;
  height: 60vh;
  background: url("../images/namphuong-van-20566-unsplash.jpg") no-repeat center center scroll;
  background-size: cover;
  left: 7.5%
}

.left-article-text {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
}

.right-article {
  position: relative;
  right: 7.5%;
  line-height: 1.8;
}

.right-article-text {
  background-color: white;
  font-size: 1.1rem;
  box-shadow: 0px 0px 20px 20px #8281811f;
}




/* END OF ARTICLE */


/* START OF SLIDE */

.slide {
  overflow: auto;
  background-color: #f5f5f5;
  min-height: 350px;
  height: 60vh;
}

/* END OF SLIDE */


/* START OF WORK */
.number, .hover, .list div h5 {
  font-weight: 900;
}

.number{
  color: lightgray;
  font-size: 3.5rem;
}

.hover {
  color: gray;
}

/* END OF WORK */


/* START OF TILES */
#tiles {
  z-index: 1;
  position: absolute;
}

#back_shape {
  background-color: #334a63;
  height: 80vh;
  -webkit-clip-path: polygon(100% 10%, -75% 100%, 100% 100%);
  clip-path: polygon(100% 10%, -75% 100%, 100% 100%);
}

#tile {
  background-color: #f8f9fafa;
  max-width: 100%;
  box-sizing: border-box;
}

#tiles p {
  display: inline;
  color: darkgray;
  font-family: Quiksand, Montserrat, sans-serif;
  font-size: 70%;
}

#tiles input {
  width: 7rem;
  color: darkgray;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: darkgray;
  background: none;
}

#inputGroupSelect03 {
  border-radius: 0;
  width: 7rem;
  height: 2rem;
  font-size: 70%;
  background-color: darkgray;
}

#submit {
  background: linear-gradient(to bottom right, orange, yellow);
  width: 7rem;
  color: white;
  border: none;
}

/* END OF TILES */


/* START OF FOOTER */
footer {
  background-color: #d3d3d336;
}

footer p {
  font-size: 75%;
  display: inline;
}

#small_logo {
  width: 1.5rem;
  height: 1.5rem;
}

#address {
  color: #004085b8;
  list-style: none;
}
/* END OF FOOTER */

.row {
  margin: 0;
}
